h1 {
    margin-bottom: 40px;
    /* margin-top: 40px; */
    color:rgb(110, 139, 139);
}

h2 {
    color:rgb(110, 139, 139);
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    text-align: center;
    
}

thead {
    background-color: rgb(110, 139, 139);
    color: white;
}

tr:nth-child(even) {
    background-color: rgb(153, 171, 171);
    color: white;
}